div {
    width: 300px;
    height: 300px;
    background-color: blue;
}

h4 {
    border-width: 10px;
    border-color: blue;
    border-style: dotted;
}

p {
    font-size: 10px;
    background-color: red;
}

a {
    color: saddlebrown;

}

ol {
    width: 100px;
    height: 100px;
    /* border-width: 100px; */
    border-color: skyblue;
    border-style: dashed;
}