.content span{
    padding-left: 60px;
    line-height: 50px;
}
.content h1{
    border-bottom: 1px dotted gray;
    text-indent: 2em;
    margin-bottom: 60px;
    line-height: 50px;
}
.content p{
    color: #a0abb6;
    text-indent: 50px;
    line-height: 35px;
}
.jiewei{
    margin-top: 60px;
}